*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font-color: #a39aa3
    --primary-color: purple;
    --black: black;
}
body{
    color: #4b4b4b;
    background-color: rgb(250, 250, 250);

    font-size:1rem ;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
    color:rgb(15, 15, 15);
}
a{
    text-decoration: none;
    font-weight: 600;
    color: purple;
}
a:hover{
    text-decoration: underline;
}
p{
    color: var(--font-color);
}

h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 1.33;
}
h4{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.44;
}
h5{
    font-size: 32px;
    font-weight: 500;
    line-height: 1.55;
}
.login-container{
display: grid;
place-content: center;
height: 100vh;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 32rem;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.login-form{
    display:flex;
    flex-direction: column;
    gap: 0.875rem;
    margin-top:1rem ;
}
.form-group{
    display: flex;
    flex-direction: column;
    border: 1px solid #e0d8e0;
    padding: 0.875rem 0.9rem;
    border-radius: 0.125rem;
    gap: 0.25rem;
}
.form-input{
    background-color: inherit;
    outline: none;
    border: none;
    border-radius: 0.125rem;
}
.btn{
    padding: 0.875rem;
    border-radius: 0.125rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}
.btn-black{
    background-color: rgb(26, 26, 26);
    color: white;
    border:1px solid rgb(26, 26, 26);
}
.btn-black:hover{
    background-color: black;
}
.btn-outline{
    background-color: rgb(234, 234, 234);
    color: #4b4b4b;
    border:1px solid rgb(234, 234, 234);
}
.btn-outline:hover{
    background-color:rgb(224, 224, 224);
}

.remember-me{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    align-items: center;
}
.mr{
    margin-right: 0.5rem;
}
.no-account{
    margin-top: 1rem;
    text-align: center;
}
.terms{
    margin-top: 1.5rem;
    text-align: center;
}